<div *ngIf="!user">
    Cargando...
</div>

<div *ngIf="user"> <!-- Aquí se esta consultando si el atributo tiene algún valor. -->
    <h2>{{user.first_name + " " + user.last_name}}</h2>
    <img src="{{user.avatar}}" width="200px">
</div>

<hr/>

<h2>Crear Usuario</h2>

<form #nuevoUsuario="ngForm" (ngSubmit)="onSubmit(nuevoUsuario)">
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="newUser.name" required>
    

        <span *ngIf="nombre.touched && !nombre.valid">
            El nombre no es válido
        </span>
    </p>    

    <p>
        <label for="trabajo">Trabajo</label>
        <input type="text" name="trabajo" #trabajo="ngModel" [(ngModel)]="newUser.job" required>
    

        <span *ngIf="trabajo.touched && !trabajo.valid">
            El trabajo no es válido
         </span>
    </p>

    <input type="submit" value="Guardar usuario" [disabled]="!nuevoUsuario.form.valid">
</form>

<div *ngIf="usuarioGuardado">
<h2>{{"Nombre: " + usuarioGuardado.name + " - Trabajo: " + usuarioGuardado.job}}</h2>
</div>
