.App {
  text-align: center;
}

form input[type="text"],
form select,
form textarea {
  display: block;
  margin: 10px;
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
}

form select {
  max-width: 264px;
  width: 264px;
}

form input[type="submit"] {
  display: block;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid #0C8BDA;
  cursor: pointer;
}

.informacion_usuario {
  width: 100%;
  margin-top: 100px;
  background-color: #0C8BDA;
}
